<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaAoHdV1jaJ7CZNHTLmSqKP94yfGVKHl4</string>
	<key>GCM_SENDER_ID</key>
	<string>605281946479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>test-51887</string>
	<key>STORAGE_BUCKET</key>
	<string>test-51887.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605281946479:ios:ddca5eaea1662a129a769a</string>
</dict>
</plist>